# CakePHP 3

/vendor/*
/config/app.php

/tmp/cache/models/*
!/tmp/cache/models/empty
/tmp/cache/persistent/*
!/tmp/cache/persistent/empty
/tmp/cache/views/*
!/tmp/cache/views/empty
/tmp/sessions/*
!/tmp/sessions/empty
/tmp/tests/*
!/tmp/tests/empty

/logs/*
!/logs/empty

# CakePHP 2

/app/tmp/*
/app/Config/core.php
/app/Config/database.php
/vendors/*

src/extras/authentication/vendor/

src/extras/authentication/composer.lock

src/extras/authentication/settings.php

composer.lock

build/app/

build/

src/extras/api/vendor/

src/extras/notification/vendor/

src/net-extras/DAL/obj/

src/net-extras/DAL/bin/Debug/net6.0/

src/net-extras/ConsoleTest/bin/Debug/net6.0/

src/net-extras/ConsoleTest/obj/

src/net-extras/API/bin/Debug/net6.0/

src/net-extras/API/obj/

src/net-extras/Model/bin/Debug/net6.0/

src/net-extras/Model/obj/Debug/net6.0/

src/net-extras/Model/obj/

src/net-extras/ConsoleClient/bin/Debug/net6.0/

src/net-extras/ConsoleClient/obj/Debug/net6.0/

src/net-extras/ConsoleClient/obj/
