# CakePHP 3

/vendor/*
/config/app.php

/tmp/cache/models/*
!/tmp/cache/models/empty
/tmp/cache/persistent/*
!/tmp/cache/persistent/empty
/tmp/cache/views/*
!/tmp/cache/views/empty
/tmp/sessions/*
!/tmp/sessions/empty
/tmp/tests/*
!/tmp/tests/empty

/logs/*
!/logs/empty

# CakePHP 2

/app/tmp/*
/app/Config/core.php
/app/Config/database.php
/vendors/*

/build/*

src/extras/authentication/vendor/

src/extras/authentication/composer.lock

src/extras/authentication/settings.php

composer.lock


src/extras/api/vendor/

src/extras/notification/vendor/

src/net-extras/DAL/obj/

src/net-extras/DAL/bin/Debug/net6.0/

src/net-extras/ConsoleTest/bin/Debug/net6.0/

src/net-extras/ConsoleTest/obj/

src/net-extras/API/bin/Debug/net6.0/

src/net-extras/API/obj/

src/net-extras/Model/bin/Debug/net6.0/

src/net-extras/Model/obj/Debug/net6.0/

src/net-extras/Model/obj/

src/net-extras/ConsoleClient/bin/Debug/net6.0/

src/net-extras/ConsoleClient/obj/Debug/net6.0/

src/net-extras/ConsoleClient/obj/

src/net-extras/ServerServices/bin/Debug/net6.0/

src/net-extras/ServerServices/obj/Debug/net6.0/

src/net-extras/ServerServices/obj/

src/net-extras/Tools/bin/Debug/net6.0/

src/net-extras/Tools/obj/Debug/net6.0/ref/

src/net-extras/Tools/obj/Debug/net6.0/refint/

src/net-extras/Tools/obj/Debug/net6.0/

src/net-extras/Tools/obj/

src/net-extras/API/Properties/launchSettings.json

src/net-extras/DAL/bin/Release/net6.0/

src/net-extras/Model/bin/Release/net6.0/

src/net-extras/Tools/bin/Release/net6.0/

src/net-extras/API/bin/Release/net6.0/linux-x64/

*.dll

src/net-extras/ServerServices/bin/Release/net6.0/

src/net-extras/ConsoleClient/bin/Release/net6.0/linux-x64/

src/net-extras/ConsoleTest/bin/Release/net6.0/linux-x64/

src/net-extras/build/bin/Debug/

src/net-extras/build/obj/

output/publish/api/

output/publish/

src/net-extras/API/bin/Release/net6.0/

src/net-extras/.nuke/

src/net-extras/output/publish/api/

src/net-extras/output/publish/consoleClient/

src/net-extras/output/publish/guiClient-lin/

src/net-extras/output/publish/guiClient-win/

src/net-extras/output/publish/

src/net-extras/GUIClient/appsettings.development.json
